.header{
  background-color: antiquewhite;  
  height: 250px;
  width: 100%;
}
button{
 
}
.top{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
 
}
.container{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  height: 100vh;
  grid-template-columns: 1fr 4fr;

  background-color: aqua;
}

.content{
  
  display: grid;
  grid-row: span 3;
  padding: 25px;
  background-color: rgb(34, 226, 226); 
  
}
form{
  display: flex;
  flex-direction: column;
justify-content: space-between;  height: 250px;

  background-color: rgb(30, 233, 233);
}

.container{
  background-color: aqua;
  
}
.Books{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  display: flex;
  justify-content: center;
}
